/* CSS declarations go here */

.grittr-container {
  padding-top:10px;  
  width: 100%;
}

.grittr-row {
  margin-bottom: 10px;
}

.grittr-padding {
  padding-right:0px;
}

#login-buttons {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline-block;
  margin-right: 1em;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  padding:0;

}

.grittr-li {
  padding-left: 10px;
  padding-right: 0px;
  border-top: #ddd solid 1px;
  border-left: #bbb solid 3px;
  background: #eee;
}

.grittr-checkbox {
  width: 10px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.important{
  font-weight: bold;
  border-left: 3px solid #444;
}

.urgent{
  color: #E03C31;
  border-left: 3px solid #E03C31;
}

.checked {
  color: #888;
}

.text {
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.checked .text {
  text-decoration: line-through;
}

.grittr-li .private {
  border-bottom-color: #ddd;
}

.toggle-private {
  margin-left: 5px;
}

.rolldown {
  background: #f6f6f6;
  padding-right:5px;
  padding-left:10px;
  border:0;
}

@media (max-width: @screen-xs) {
    body{font-size: 14px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}
