<div class="grittr-container container">
  <div class="row grittr-row">
    <div class="col-xs-6">
      <h1> Grittr list ({{incompleteCount()}}) </h1>
    </div>
    <div class="col-xs-6">
      <login-buttons></login-buttons>
    </div>
   </div> <!--/row-->
   <div class="row grittr-row">
     <div class="col-md-12">
       <!-- TODO: resolve duplication of addTask function call, see button -->
       <form ng-submit="addTask(newTask, taskImportant, taskUrgent);
                          newTask=''; taskImportant=false; taskUrgent=false;">
       <div class="input-group btn-group" >
          <input type="text" class="form-control" 
                  ng-class="{'important':taskImportant, 'urgent':taskUrgent}" 
                  placeholder="new task" ng-model="newTask"/>
             <span class="input-group-btn">
                <label class="btn btn-default" ng-model="taskUrgent" 
                        btn-checkbox>
                  <span class="glyphicon glyphicon-fire"></span>
                </label>
                <label class="btn btn-default" ng-model="taskImportant" 
                        btn-checkbox>
                  <span class="glyphicon glyphicon-alert"></span>
                </label>
                <button class="btn btn-default" type="submit"> 
                  <span class="glyphicon glyphicon-plus"></span> 
                </button>
             </span> <!-- /input-group-btn -->
       </div><!-- /input-group btn-group-->
       </form>
     </div><!-- /col-md-12 -->
   </div><!-- /row grittr-row-->
   <!-- we have two nested reapeting rows per task -->
   <div class="row" ng-repeat="task in tasks">
     <div class ="col-xs-12">
       <div class="row grittr-li" 
        ng-class="{'checked':task.checked, 'private':task.private, 
                   'important':task.important, 'urgent':task.urgent,
                   'shadow':show}">
         <div class="col-xs-1 grittr-checkbox">
            <input type="checkbox" ng-checked="task.checked"
                   ng-click="setChecked(task); show=show" />
         </div><!-- /.col-xs-1 --> 
         <div class="col-xs-11 grittr-padding text" ng-click="show=!show">
           <span class="glyphicon glyphicon-share-alt"
             ng-show="task.owner != $root.currentUser._id">
           </span> 
           <span class="crossed">
             {{task.text}} 
           </span>
         </div> <!-- /.col-xs-11 -->
       </div> <!-- /.gritt-ul .row-->

       <!--==================== Rolldown menu ===========================-->

       <div class="row rolldown" ng-show="show">
          <div class="col-xs-12 col-md-6 submenu">
             <!--If user is owner of task then show with whom task is shared -->
            <span ng-show="task.owner != $root.currentUser._id"> 
              <label 
              class="glyphicon glyphicon-user label label-default grittr-label">             shared<b> BY</b></label>
            <br/>
            {{getUserById(task.owner).emails[0].address}}
            </span> 
            <!-- if user is not owner, show who shared the task -->
            <span 
             ng-show="task.owner == $root.currentUser._id && task.sharedWith"> 
              <label 
              class="glyphicon glyphicon-user label label-default grittr-label">
                shared <b>WITH</b>:</label> 
              <br> 
              <span ng-repeat="userId in task.sharedWith">
                {{getUserById(userId).emails[0].address}}<br>
              </span> 
             </span>
         </div>
         <!-- If user is OWNER of the task -->
         <div class="col-xs-12 col-md-6 submenu"
           ng-show="task.owner == $root.currentUser._id">
             <div class="row">
              <div class="col-xs-6">
               <button type="button" class="btn btn-default btn-md"
                 ng-click="deleteTask(task)">
                 <span class="glyphicon glyphicon-remove" aria-hidden="true">
                 </span>
                 Delete
               </button>
              </div><!-- /.col-xs-6 -->
              <div class="col-xs-6">
               <button type="button" class="btn btn-default btn-md"
                 ng-click="go('/share/',task._id)">
               <span class="glyphicon glyphicon-share" aria-hidden="true">
               </span>
                 Share
               </button>
              </div> <!-- /.col-xs-6 -->
             </div> <!-- /.row -->
         </div> <!-- /col-xs-12 col-md-6 submenu -->
      </div> <!-- /.row .rolldown -->
      <!--============== // End of Rolldown Menu ================= -->
    </div> <!-- /.col-xs-12 -->
   </div> <!-- /.row-->
</div> <!-- /.container --> 
