<div class="grittr-container container"> 
  <div class="row">
    <div class="col-md-6">
      <h1> Grittr list ({{incompleteCount()}}) </h1>
    </div>
    <div class="col-md-6">
      <meteor-include src="loginButtons"></meteor-include>
    </div>
   </div> <!--/row-->
   <div class="row">
     <div class="col-md-12">
       <div class="input-group">
          <input type="text" class="form-control" placeholder="new task" 
              ng-model="newTask"/>
             <span class="input-group-btn">
                <button class="btn btn-default " 
                        type="button"
                        ng-click="addTask(newTask, taskImportant); 
                                  newTask=''; taskImportant=false">
                <span class="glyphicon glyphicon-plus"></span> 
                </button>
             </span> <!-- /input-group-btn -->
       </div><!-- /input-group -->
     </div><!-- /col-md-12 -->
   </div><!-- /row -->
  <div class="row">
    <div class="col-md-12">
      <ul ng-repeat="task in tasks">
        <li ng-class="{'checked':task.checked, 'private':task.private}">
          <button class="delete" ng-click="deleteTask(task)">&times;</button>
          <input type="checkbox" ng-checked="task.checked"
                 ng-click="setChecked(task)" class="toggle-cheched" />
          <span class="text" ng-class="{'important':task.important}">{{task.text}} </span>
        </li> 
      </ul>
    </div> <!-- /col-md-12-->
  </div> <!-- /row -->
</div> <!-- /container -->
